.product-logo {
  width: 32px;
  height: 32px;
}

.article-headline {
  font-size: 1rem;
  color: #444;

  &::before {
    display: inline-block;
    width: 4px;
    height: 1rem;
    margin-right: 0.3rem;
    content: "";
    background-color: #444;
  }
}
