.article-headline {
  color: #444;
  font-size: 1rem;

  &::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 1rem;
    background-color: #444;
    margin-right: 0.3rem;
  }
}
